@using FahasaStoreAdminApp.Entities
@model IEnumerable<Partner>

@{
    ViewData["Title"] = "Quản lý đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 4;
    ViewData["UrlCurrent"] = "/Partners/Index";

    var PartnerTypes = ViewData["PartnerTypes"] as List<PartnerType>;
}
<partial name="_ToastrMessage" />
<div class="d-flex justify-content-between">
    <a href="/Partners/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
        Create New
    </a>
    <div>
        @{
            if (PartnerTypes != null)
            {
                <select id="select-PartnerType" class="form-select">
                    <option value="0" selected>--Tất cả thể loại--</option>
                    @foreach (var item in PartnerTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('#select-PartnerType').change(function () {
                            var PartnerTypeId = $(this).val();
                            // Chỉ thực hiện AJAX nếu một tùy chọn khác "Tất cả thể loại" được chọn
                            if (PartnerTypeId) {
                                $.ajax({
                                    url: '/Partners/GetPartnersByPartnerType/' + PartnerTypeId,
                                    type: 'GET',
                                    success: function (data) {
                                        $('tbody').html(data);
                                    },
                                    error: function (xhr, status, error) {
                                        alert('AJAX Error: ' + status + error)
                                        console.error('AJAX Error: ' + status + error);
                                    }
                                });
                            }
                        });
                    });
                </script>
                }
            }
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.PartnerType?.Name
                </td>
                <td>
                    <a href="/Partners/Details" IdValue="@item.Id" onclick="HandlerCRUD(this, event)">@item.Name</a>
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="Image" width="50" height="50" class="object-fit-contain" />
                </td>
                <td>
                    <a href="/Partners/Edit" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/Partners/Delete" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
