@using FahasaStoreAdminApp.Components
@model IEnumerable<FahasaStoreAdminApp.Entities.PosterImage>

    @Html.AntiForgeryToken()
<div id="poster-images" class="row row-cols-3 g-3">
    <div>
        <form id="posterImageForm" enctype="multipart/form-data" hidden>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="file" name="fileImage" class="form-control" id="fileImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "fileImage" }))
    </div>
    @foreach (var item in Model)
    {
        <div class="image-container">
            <img src="@item.ImageUrl" width="120" height="120" class="object-fit-contain image">
            <div class="overlay">
                <a href="/PosterImages/Delete" IdValue="@item.Id" class="icon"><i class="bi bi-trash3"></i></a>
            </div>
        </div>
    }
</div>

<script>

    $(document).ready(function () {
        $('#fileImage').on('change', function (event) {
            $('#posterImageForm').submit();
        });

        function GetPosterImages() {
            var element = $("#listPosterImages");
            $.ajax({
                url: '/Books/GetPosterImages/' + @ViewData["BookID"],
                type: 'GET',
                success: function (data) {
                    $(element).html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var errorMessage = `Error fetching data: ${jqXHR.status} ${jqXHR.statusText}`;
                    if (jqXHR.responseText) {
                        errorMessage += `\nResponse: ${jqXHR.responseText}`;
                    }
                    alert(errorMessage);
                }
            });
        }

        $('.icon').click(function (event) {
            event.preventDefault();
            var confirmDelete = confirm("Bạn có chắc muốn xóa ảnh không?");
            if (confirmDelete) {
                var id = $(this).attr("IdValue");
                var token = $('input[name="__RequestVerificationToken"]').val(); // Lấy giá trị của token
                $.ajax({
                    url: '/PosterImages/Delete',
                    type: 'POST',
                    data: {
                        id: id,
                        __RequestVerificationToken: token // Gửi token
                    },
                    success: function (response) {
                        GetPosterImages();
                        toastr.success("Delete image successful!");
                    },
                    error: function () {
                        alert("Delete image failed!");
                    }
                });
            }
        });

        $('#posterImageForm').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/PosterImages/Create/' + @ViewData["BookID"],
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    toastr.success("Post image successful!");
                    GetPosterImages();
                },
                error: function (xhr, status, error) {
                    alert("Post image failed!");
                }
            });
        });
    });
</script>