@model IEnumerable<FahasaStoreAPI.Models.EntitiesModels.DimensionEntities>

@{
    ViewData["Title"] = "Quản lý Kích thước sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 4;
    ViewData["UrlCurrent"] = "/Dimension/Index";
}
<a href="/Dimension/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
    Create New
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DimensionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DimensionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    <a href="/Dimension/Edit" IdValue="@item.DimensionId" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/Dimension/Delete" IdValue="@item.DimensionId" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
