@model IEnumerable<FahasaStoreAPI.Entities.SocialMediaLink>

@{
    ViewData["Title"] = "Quản lý liên kết mạng xã hội";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 3;
    ViewData["UrlCurrent"] = "/SocialMediaLinks/Index";
}
<a href="/SocialMediaLinks/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
    Create New
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="Image" width="50" height="50" class="object-fit-contain" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    <a href="/SocialMediaLinks/Edit" IdValue="@item.LinkId" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/SocialMediaLinks/Delete" IdValue="@item.LinkId" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
