@model IEnumerable<FahasaStoreAdminApp.Models.DTO.OrderDTO>

@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 8;
    ViewData["UrlCurrent"] = "/Orders/Index";

    var filters = ViewData["Filters"] as Dictionary<string, string> ?? new Dictionary<string, string>();
    ViewData["Action"] = "Index";
    ViewData["Controller"] = "Orders";
}

<partial name="_ToastrMessage" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.ReceiverName)
            </th>
            <th>
                Thành Tiền
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatuses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @((item.CreatedAt != null) ? item.CreatedAt.Value.ToString("dd/MM/yyyy (HH:mm)") : "Không có ngày tạo")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.ReceiverName)
                </td>
                <td>
                    @item.OrderItems.Sum(e => (e.Book.Price - e.Book.Price * e.Book.DiscountPercentage / 100) * e.Quantity).ToString("N0") đ
                </td>
                <td>
                    @item.OrderStatuses.LastOrDefault()?.Status.Name
                </td>
                <td>
                    <a href="/OrderStatus/CreateCustom?orderId=@item.Id" onclick="HandlerCRUD(this, event)" class="btn btn-outline-primary">Update Status</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paginated" />