@model IEnumerable<FahasaStoreAdminApp.Models.DTO.FlashSaleBookDTO>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @item.FlashSale.StartDate - @item.FlashSale.EndDate
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <a href="/FlashSaleBooks/Edit" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
            <a href="/FlashSaleBooks/Delete" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
        </td>
    </tr>
}