@using FahasaStoreAdminApp.Models.DTO

@model IEnumerable<FlashSaleBookDTO>

@{
    ViewData["Title"] = "Quản lý sách trong flash sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 6;
    ViewData["UrlCurrent"] = "/FlashSaleBooks/Index";

    var FlashSales = ViewData["FlashSales"] as List<FlashSaleDTO>;

    var filters = ViewData["Filters"] as Dictionary<string, string> ?? new Dictionary<string, string>();
    ViewData["Action"] = "Index";
    ViewData["Controller"] = "FlashSaleBooks";
}
<partial name="_ToastrMessage" />
<div class="d-flex justify-content-between">
    <a href="/FlashSaleBooks/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
        Create New
    </a>
    <div>
        @if (FlashSales != null && FlashSales.Count > 0)
        {
            <form id="filter-form" method="get" action="/FlashSaleBooks/Index">
                <div class="input-group">
                    <select class="form-select" name="filters[FlashSaleId]" onchange="handleSelectedChange(this, event)">
                        <option value="0">--Tất cả lựa chọn--</option>
                        @foreach (var item in FlashSales)
                        {
                            var selected = filters.ContainsKey("FlashSaleId") && filters["FlashSaleId"] == item.Id.ToString() ? "selected" : "";
                            if (selected == "selected")
                            {
                                <option value="@item.Id" selected>@item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</option>
                            }
                        }
                    </select>
                    <a href="/FlashSales/Create" class="btn btn-outline-secondary" onclick="HandlerCRUD(this, event)">Thêm Sale</a>
                </div>
            </form>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlashSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.FlashSale.StartDate.ToString("dd/MM/yyyy") - @item.FlashSale.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a href="/Books/Details" IdValue="@item.Book.Id" onclick="HandlerCRUD(this, event)">@item.Book.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a href="/FlashSaleBooks/Edit" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/FlashSaleBooks/Delete" IdValue="@item.Id" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paginated" />