
@model IEnumerable<FahasaStoreAPI.Models.EntitiesModels.BookEntities>

@{
    ViewData["Title"] = "Quản lý sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 4;
    ViewData["UrlCurrent"] = "/Book/Index";
    var ActiveID = TempData["ActiveID"] as int?;
}
@if (ActiveID != null)
{
    <a href="/Book/Details" id="DetailsID_@ActiveID" IdValue="@ActiveID" onclick="HandlerCRUD(this, event)"></a>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#DetailsID_@ActiveID').click();
            });
        </script>
    }
}

<a href="/Book/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
    Create New
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.SubcategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimensionId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageCount)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DimensionId)
                </td> *@
                <td>
                    <a href="/Book/Details" IdValue="@item.BookId" onclick="HandlerCRUD(this, event)">@item.Name</a>
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageCount)
                </td> *@
                <td>
                    <a href="/Book/Edit" IdValue="@item.BookId" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/Book/Delete" IdValue="@item.BookId" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

