@using FahasaStoreAdminApp.Components
@model IEnumerable<FahasaStoreAPI.Models.FormModels.MenuForm>

@{
    ViewData["Title"] = "Quản Lý Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 3;
    ViewData["UrlCurrent"] = "/Menu/Index";
    var SingleMenuForm = new FahasaStoreAPI.Models.FormModels.MenuForm();
}
<a href="/Menu/Create" class="btn btn-primary mb-3" onclick="HandlerCRUD(this, event)">
    Create New
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="Image" width="50" height="50" class="object-fit-contain" />
                </td>
                <td>
                    <a href="/Menu/Edit" IdValue="@item.MenuId" onclick="HandlerCRUD(this, event)"><i class="bi bi-pencil"></i></a> |
                    <a href="/Menu/Delete" IdValue="@item.MenuId" onclick="HandlerCRUD(this, event)"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
